$color-light: #fff;
$color-dark: #2f3542;
$color-success: #65b9d7;
$color-warning: #ab86ae;
$color-grey: #d2d2d2;

$font-text: 'Poppins', sans-serif;

$radius: 5px;
$base-size: 11px;
$transition: all 0.5s;